@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Josefin+Sans&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background: rgb(221, 221, 221);
    padding:20px;
}
/* Pop up design starts */
.main-pop-up{
    position: fixed;
    width:100%;
    height: 100%;
    overflow: auto;
    z-index: 1;
    background-color: rgba(0,0,0,0.9); 
    display: none;
    animation-name: popup;
    animation-duration: .4s;
}
.pop-up{
    background-color: #fff;
    width:30%;
    margin: 30px auto;
    height:40vh;
    border-radius: 10px;
}
.cross-bar{
    background-color: rgb(205, 41, 41);
    padding: 10px;
    border-radius: 10px 10px 0 0;
}
.cross{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
#cross-btn{
    padding: 5px 10px;
    border: none;
    color: #fff;
    font-size: 20px;
    background-color: rgb(205, 41, 41);
    cursor: pointer;
}
.pop-up-contents{
    padding: 50px;
}
.pop-up-contents h1{
    font-size: 18px;
    text-align: center;
}
.pop-up-contents p{
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
}
.pop-up-contents .fa-hand-peace{
    font-size: 17px;
}
@keyframes popup {
    from{
        top:-300px;
        opacity: 0;
    }
    to{
        top:0;
        opacity: 1;
    }
    
}
/* Pop-up design ends */
/* Navigation design starts */
.container{
    background:linear-gradient(rgba(29, 29, 29, 0.9), rgba(29, 29, 29, 0.9)),url(../uploads/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:auto;
    border-radius: 10px 10px 0 0;
}
.container .navbar{
    padding-top:20px;
    display: flex;
}
.navbar .logo{
    color: #fff;
    font-size: 25px;
    margin-left: 40px;
    user-select: none;
    flex:20%;
}
#logo-text{
    margin-right: 5px;
    font-family: 'Lobster', cursive;
}
.navbar .logo:hover{
    color: #5ca8ff;
    cursor: pointer;
}
.navigation-links{
    display: flex;
    flex:80%;
    justify-content: flex-end;
    margin-right: 40px;
   
}
.navigation-links ul{
    list-style-type: none;
    margin-top: 5px;
}
.navigation-links ul li{
    display: inline;
    padding:15px;
}
.navigation-links ul li a {
    text-decoration: none;
    color:#fff;
    padding:10px 10px 5px 10px;
    font-size: 20px;
}
.navigation-links li a.active, li a:hover{
    border-bottom: 4px solid #E1EBCF;
    transition: .1s ease-out;
}
.navigation-links a.github{
    background-color: #5ca8ff;
    border: none;
    border-radius: 20px;
    padding: 8px 15px;
}
.navigation-links .github:hover{
    color:#5ca8ff;
    background-color: #fff;
}
/* Navigation design ends */
/* Body section design starts */
.body-container{
    width: 50%;
    margin: 50px auto 0 auto;
    text-align: center;
}
.image{
    width: 50%;
    margin: auto;
}
.image img{
    display: block;
    width: 100%;
    border-radius: 50%;
    opacity: 0.7;
}
.content{
    color: #fff;
    margin-top: 30px;
}
.content h1{
    font-size: 50px;
}
.content p{
    font-size: 20px;
    margin-top: 10px;
}
#explore-btn{
    padding:10px 20px;
    margin: 20px 0 40px 0;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
#explore-btn:hover{
    color:#fff;
    background-color:#5ca8ff;
}
/* Body section design ends */
/* section about design starts */
#about{
    background-color: #fff;
    width:100%;
    height: auto;
    display: flex;
    padding:50px;
}
.left-image{
    flex:40%; 
    width: 100%;
    height: 100%;
    background: rgb(211, 211, 211);
}
.about-image{
    position: relative;
    top:-30px;
    left:30px;
}
.about-image img{
    width: 100%;
}
.right-content{
    flex:60%;
    margin-left: 50px;
}
.right-content h1{
    display: inline;
    font-size: 50px;
    border-bottom: 4px solid #5ca8ff;
    border-radius: 10px;
}
.right-content p{
    margin-top: 30px;
    font-size: 20px;
    text-align: justify;
}
#download-btn{
    padding: 13px 20px;
    margin-top: 10px;
    color: #fff;
    background-color: #5ca8ff;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
}
#download-btn:hover{
    color: #5ca8ff;
    background-color: #fff;
    border: 1px solid rgb(207, 207, 207);
    box-shadow: 10px 10px 10px 0 rgb(153, 153, 153);
}
/* section about design ends */

